* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif;
}

.App {
  background-image: url(./assets/Sunnyday.jpg);
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
}

.App.rainy { 
  background-image: url('./assets/Rainyday.jpg');
}

.App.night { 
  background-image: url('./assets/nightimage.jpg');
}

main {
min-height: 100vh;
padding: 25px;
}

.search-box{
  width: 100%;
  /* padding: 15px; */
  margin: 0 auto 5px;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color: rgba(150, 200, 75, .4);
  border-radius: 0px 0px 16px 16px;
  margin-top: -40px;
  box-shadow: 0px 10px rgb(28, 31, 231, .5);
  font-size: 20px;
  margin-bottom: 55px;
 }

/* Click inside searchbox it turns white */
.search-box .search-bar:focus {
background-color: rgba(255, 255, 255, 0.4);

}

.location-box .location {
  color: white;
  font-size: 25px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px, 2px rgba(50, 50, 75, .8);
  
  
}

.location-box .date {
  color: white;
  font-size: 25px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px, 2px rgba(50, 50, 75, .8);
  
}

.weather-box {
  text-align: center; 
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(150, 200, 75, .2);
  border-radius: 16px;

  padding: 25px 25px;
  color: rgb(190, 73, 73);
  font-size: 102px;
  font-weight: 900;
  text-shadow: 3px 6px rgba(50, 50, 75, .2);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, .2);
}

.weather-box .weather {
  color: white;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 6px rgba(50, 50, 75, .2);
}