* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif;
}

.App {
  background-image: url(./assets/Sunnyday.jpg);
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
}

main {
min-height: 100vh;
padding: 25px;
}

.search-box{
  width: 100%;
  padding: 15px;
  margin: 0 auto 5px;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;
  appearance: none;
  background-color: none;
  border: none;
  outline: none;
  background-color: rgba(150, 200, 75, .5);
  border-radius: 5px;
  margin-top: -25px;
  box-shadow: 10px 10px rgb(15, 17, 155);
}